<div class="row"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
   
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIywEQ_4H2EIzNCePoAXeCqdrdZae6U4KtjQ&usqp=CAU" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title"> Hemalatha </h5> 
        <p class="card-text">Game has been done by Hemalatha </p>
  
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
  
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIywEQ_4H2EIzNCePoAXeCqdrdZae6U4KtjQ&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bhavya </h5> 
        <p class="card-text">PlayCard  has been done by Bhavya </p>
  
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
  
  
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIywEQ_4H2EIzNCePoAXeCqdrdZae6U4KtjQ&usqp=CAU" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">Prasanthi</h5>
        <p class="card-text">Login and Register has been done by Prasanthi </p>
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
  
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIywEQ_4H2EIzNCePoAXeCqdrdZae6U4KtjQ&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tulasi</h5> 
        <p class="card-text">User dash has been done by Tulasi</p>
  
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIywEQ_4H2EIzNCePoAXeCqdrdZae6U4KtjQ&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Akshaya</h5> 
        <p class="card-text"> HomePage has been done by Akshaya</p>
  
      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIywEQ_4H2EIzNCePoAXeCqdrdZae6U4KtjQ&usqp=CAU" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Meghana</h5> 
          <p class="card-text"> CustomerCare has been done by Meghana</p>
    
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
  
  
  </div>
