
<div class="container" >
    <div class="row">

      

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img1.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/addplaycard" class="list-group-item list-group-item-action active" style="text-align: center">ADD PLAYCARDS</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img1.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/addgames" class="list-group-item list-group-item-action active" style="text-align: center">ADD GAME</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img1.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/viewplaycard" class="list-group-item list-group-item-action active" style="text-align: center">VIEW PLAYCARDS</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img1.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/viewgames" class="list-group-item list-group-item-action active" style="text-align: center">VIEW GAMES</a>
        </div>
      </div>
      &nbsp;&nbsp;
     
      

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img1.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/admindash" class="list-group-item list-group-item-action active" style="text-align: center">ADD GAME TO PLAYCARD</a>
        
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      
    </div>
  </div>